/*.App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  border-color: aqua;
}



h1 {
  margin: 20px;
  padding: 10px;
  height: 80px;;
}

#items {
  border-bottom: 1px;
  border-color: darkgrey;
  border-bottom-style: solid;
  margin-left: 45px;
  padding-top: 1em;
  padding-bottom: 1em;

}

nav {
  background-color: #61dafb;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
}

.logo {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}
.logo span {
  margin-left: 10px;
 margin-right: 2px;
}

.cart {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 20px;

}
